svg {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: block;
  animation: appear 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.Sphere {
  fill: url("#sphere-gradient");
}

.land {
  fill: lightgreen;
  stroke: black;
  transition: 0.2s;
}

.kaart {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}